.svn
Redist/appCache
*.sdf
*.ncb
*.suo
*.vcproj.*
*.vcxproj.user
ipch
debug.txt
*.opensdf
*.orig
*.rej
*.obj
*.ilk
*.pdb
debug/*.tlog
debug/*.log
debug/*.pch
debug/*.lastbuildstate
debug/*.res
*.idb
release/*.tlog
release/*.log
release/*.pch
release/*.lastbuildstate
release/*.res
.DS_Store
*.tlog
Intermediate
*.opendb
intermediates
.idea
gdbserver
gdb.setup
*.bin
libcommon.a
librender.a
liblaya.so
libconch.a
.gradle
*.d
*.bc
publish
*.xcuserstate
Conch/libs
publish/nativetools/template/ios/LayaRuntime-iOS/libs/libconch.a
Conch/build/conch/proj.ios/conch6.xcworkspace/xcuserdata/xiaoweigao.xcuserdatad/UserInterfaceState.xcuserstate
